@charset "UTF-8";
/*ウィンドウ幅が480px以下の場合に適用するCSS*/
@media screen and (max-width:480px)
{
    * {
        margin: 0;
        padding: 0;
    }
    html {
        scroll-behavior: smooth;
    }
    body {
        background-color: #f9f8f4;
    }
    /*ハンバーガーメニュー　開始*/
    .smart-nav {
        position: relative;
        height: 9vw;
        background-color: #eeedea;
    }
    .menu-btn {
        position: absolute;
        position: fixed;
        top: 1vw;
        right: 1vw;
        display: flex;
        height: 8vw;
        width: 8vw;
        justify-content: center;
        align-items: center;
        z-index: 90;
        background-color: #eeedea;
    }
    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content: '';
        display: block;
        height: 0.5vw;
        width: 5vw;
        border-radius: 3px;
        background-color: #c1c1c1;
        position: absolute;
        transition: 0.3s;
    }
    .menu-btn span:before {
        bottom: 1.5vw;
    }
    .menu-btn span:after {
        top: 1.5vw;
    }
    /*バツ印に変形*/
    #menu-btn-check:checked ~ .menu-btn span {
        background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
        transition: 0.3s;
}
    #menu-btn-check:checked ~ .menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
        transition: 0.3s;
    }
    #menu-btn-check:checked ~ .menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
        transition: 0.3s;
    }
    #menu-btn-check {
        display: none;
    }
    /*メニュー　装飾*/
    .menu-content1 {
        position: fixed;
        width: 100%;
        height: auto;
        top: 0;
        right: -100%;
        background-color: #d8d5d2;
        transition: 0.8s;
        z-index: 10;
    }
    .menu-content1 ul {
        padding: 20vw 3vw 0;
        margin-bottom: 5vw;
    }
    .menu-content1 ul li {
        border-bottom: solid 1px #fff;
        list-style: none;
    }
    .menu-content1 ul li a {
        display: block;
        width: 100%;
        box-sizing: border-box;
        text-decoration: none;
        padding: 9px 15px 10px 0;
        position: relative;
    }
    .menu-content1 ul li a img {
        height: 6vw;
        vertical-align: bottom;
    }
    .plus::before {
        content: "+";
        width: 2vw;
        height: 2vw;
        position: absolute;
        right: 3vw;
        top: 3vw;
        color: #878685;
    }
    
    
    #menu-btn-check:checked ~ .menu-content1 {
        right: 0;/*メニューを画面内へ*/
        transition: 0.8s;
    }
    #menu-btn-check:checked ~ header {
        transform: translateX(-300px)
    }
    
    .smart-logo {
        position: absolute;
        top: 17vw;
        left: 37vw;
        width: 30vw;
    }
    .smart-logo a img {
        width: 100%;
    }
    header {
        display: none;
        margin-top: 4.5vw;
        margin-bottom: 3.5vw;
    }
    .top-logo {
        width: 10vw;
        margin-left: 3vw;
    }
    .top-logo img {
        width: 100%;
    }
    .top-logo a:hover {
        opacity: 0.7;
        transition: 0.5s;
    }
    .header-nav {
        margin-top: 2vw;
        margin-left: auto;
        margin-right: 3vw;
    }
    .header-nav nav ul {
        display: flex;
    }
    .header-nav nav ul li {
        list-style-type: none;
        margin-left: 2vw;
    }
    .header-nav nav ul li img {
        height: 2vw;
        width: auto;
    }
    .header-nav nav ul li a:hover {
        opacity: 0.7;
        transition: 0.5s;
    }
    /*ドロップダウンメニュー　開始*/
    .drop-down li {
	    position:relative;
    }
    .drop-down li ul {
	    display: none;
    }
    .drop-down li:hover .sub-menu {
	    display: block;
        display: flex;
	    position:absolute;
	    top:1.5em;
        left: -5vw;
	    list-style-type:none;
    }
    
    /*ドロップダウンメニュー　終了*/
    /*ナビゲーション　矢印*/
    .round_arrow{
        position: relative;
        display: inline-block;
        padding: 0 2vw 0 0;
        color: #000;
        vertical-align: bottom;
        text-decoration: none;
        font-size: 2vw;
    }
    .round_arrow::before,
    .round_arrow::after{
        position: absolute;
        top: 0;
        bottom: 0.7vw;
        right: 0;
        margin: auto;
        content: "";
        vertical-align: middle;
    }
    .round_arrow::before{
        box-sizing: border-box;
        width: 1.4vw;
        height: 1.3vw;
        border: 0.2vw solid #8f8882;
        border-radius: 25%;
    }
    .round_arrow::after{
        right: 0.4vw;
        bottom: 1vw;
        width: 0.4vw;
        height: 0.4vw;
        border-bottom: 0.2vw solid #8f8882;
        border-right: 0.2vw solid #8f8882;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    /*ナビゲーション矢印　終了*/
    /*ナビ　装飾　開始*/
    .deco {
        position: relative;
        padding-right: 1vw;
    }
    .deco::after {
        position: absolute;
        top: 0.2vw;
        right: -1.8vw;
        font-size: 0.8vw;
        height: 1vw;
        width: 1vw;
        content: "/";
        text-decoration: none;
    }
    /*ナビ　装飾　終了*/
    .sns-icon {
        display: none;
        margin-top: 1.2vw;
        margin-left: 1vw;
        margin-right: 0.5vw;
    }
    .sns-icon ul {
        display: flex;
    }
    .sns-icon ul li {
        list-style-type: none;
    }
    .sns-icon ul li:nth-child(2) {
        margin-left: 0.5vw;
        margin-right: 0.5vw;
    }
    .sns-icon ul li img {
        height: 1.1vw;
        vertical-align: middle;
    }
    .sns-icon ul li a:hover {
        opacity: 0.7;
        transition: 0.5s;
    }
    /*トップ画像*/
    .top-image {
        position: relative;
        width: 100%;
        margin-top: 25vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5vw;
    }
    .slider li img {
        width: 100%;
    }
    .prev_icon{
        position: absolute;
        top: 50%;
        left: 17vw;
        transform: translate(0,-50%);
        width: 2.5vw;
        z-index: 2;
        cursor: pointer;
    }
    .next_icon{
        position: absolute;
        top: 50%;
        right: 17vw;
        transform: translate(0,-50%);
        width: 2.5vw;
        z-index: 2;
        cursor: pointer;
    }
    .filter-left, .filter-right {
        display: none;
        position: absolute;
        width: 20%;
        height: 98.5%;
        background-color: rgba(39,28,18,.45);
        z-index: 1;
    }
    .filter-left {
        top: 0;
        left: 0;
    }
    .filter-right {
        top: 0;
        right: 0;
    }
    /*メイン部分　記事*/
    
    .info-wrapper {
        width: 92vw;
        margin-left: auto;
        margin-right: auto;
        background-color: fuchsia;
    }
    .content::after {
        content: " ";
        display: block;
        clear: both;
    }
    .info-box {
        float: left;
        width: 46vw;
        height: 60vw;
        margin-bottom: 5vw;
    }

    
    /*アニメーション　開始*/

    .info-box figure {
        width: 42vw;
        height: 27vw;
    }

    .info-box figure img {
        width: 100%;
        height: 100%;
        transition: .4s;
    }

    .info-box a:hover figure img {
        opacity: 0.8;
    }

    /*アニメーション終わり*/
    .info-box a {
        width: 42vw;
        display: block;
        padding-bottom: 1vw;
        text-decoration: none;
    }
    .info-box h2 {
        font-size: 4vw;
        color: #878685;
        font-weight: 400;
        margin-bottom: 2vw;
        font-family: 'Bona Nova', serif;
    }   
    .info-box p {
        color: #878685;
        font-size: 0.7vw;
    }
    .info-box img:nth-child(2) {
        height: 2vw;
        width: auto;
    }
    
    /*追加記事*/
    .more {
        margin-top: 2vw;
        margin-bottom: 2vw;
        width: 30vw;
        margin-left: auto;
        margin-right: auto;
    }
    .more img {
        width: 100%;
        cursor: pointer;
    }
    /*フォトイベント部分*/
    .event {
        background-color: #fff;
        margin-top: 4vw;
        padding-bottom: 2vw;
    }
    .event h3 {
        width: 30vw;
        padding-top: 2vw;
        margin-left: auto;
        margin-right: auto;
    }
    .event h3 img {
        width: 100%;
    }
    .wrap {
        overflow: hidden;
    }
    .wrap a {
        text-decoration: none;
        display: flex;
        transition: 0.3s;
    }
    .wrap a:hover {
        opacity: 0.8;
        transition: 0.3s;
    }
    .slideshow li {
        list-style-type: none;
    }
    .dog-image {
        height: 20vw;
    }
    .dog-image img {
        height: 100%;
        width: auto;
        vertical-align: bottom;
    }
    /*横スライド*/
    .slideshow {
        display: flex;
        animation: loop-slide 60s infinite steps(38,end) 1s both;
    }
    @keyframes loop-slide {
        from {
            transform: translateX(-100%);
        }
        50% {
            
        }
        to {
            transform: translateX(0);
        }
    }
    /*フッター部分*/
    footer {
        
        margin-top: 2vw;
        margin-left: auto;
        margin-right: auto;
    }
    .page-top {
        width: 35vw;
        margin-left: auto;
        margin-right: 3vw;
        margin-bottom: 0.5vw;
    }
    .page-top a {
        text-decoration: none;
    }
    .page-top a img {
        height: 3.5vw;
    }
    
    .footer-nav {
        display: flex;
        padding-top: 1vw;
        margin-bottom: 1vw;
        border-top: 0.1vw solid #8f8882;
    }
    .footer-nav ul {
        margin-left: 3vw;
        display: block;
    }
    .footer-nav ul li {
        list-style-type: none;
        margin-left: 1vw;
        margin-right: 1vw;
    }
    .footer-nav ul li a {
        text-decoration: none;
        
    }
    .footer-nav ul li a img {
        height: 5vw;
    }
    .footer-sns-icon {
        display: block;
        margin-left: auto;
        margin-right: 3vw;
    }
    .footer-sns-icon ul {
        display: block;
    }
    .footer-sns-icon ul li {
        list-style-type: none;
    }
    .footer-sns-icon ul li:nth-child(2) {
        margin-left: 0.5vw;
        margin-right: 0.5vw;
    }
    .footer-sns-icon ul li img {
        height: 1.1vw;
        vertical-align: bottom;
    }
    .footer-sns-icon ul li a:hover {
        opacity: 0.7;
        transition: 0.5s;
    }
    .footer-nav {
        display: none;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /*スマホ用フッター*/
    .smart-footer {
        text-align: center;
        border-top: 0.1vw solid #8f8882;
        border-bottom: 0.1vw solid #8f8882;
    }
    .D{
        display: inline-block;
        width: 10vw;
        cursor: pointer;
        margin-left: auto;
    }
    .D img {
        width: 100%;
    }
    .E{
        display: none;
        height: 50vw;
        width: 18vw;
        margin-left: auto;
        margin-right: auto;
    }
    .E ul li {
        width: 18vw;
        height: 6vw;
        list-style-type: none;
        text-align: center;
    }
    .E ul li a img {
        height: 100%;
    }
    .smart-snsicon ul {
        display: flex;
        width: 22vw;
        margin-left: auto;
        margin-right: auto;
    }
    .smart-snsicon ul li {
        list-style-type: none;
        width: 6vw;
    }
    .smart-snsicon ul li:nth-child(2) {
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .smart-snsicon ul li a img {
        width: 100%;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    .copy-right {
        width: 60vw;
        margin-left: auto;
        margin-right: 3vw;
    }
    .copy-right img {
        width: 100%;
    }
}
